
.home-promotion {
    width: 400px;
    height: 115px;
    margin: 5px;
    cursor: pointer;
}

.home-promotion:first-child {
    margin-top: 0;
}

.home-promotion img {
    width: 100%;
    height: 100%;
}
