.orange-checkbox-div {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0 20px;
}

.orange-checkbox {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    opacity: .4;
    position: absolute;
    left: 0;
}

.orange-checkbox-div:hover {
    background: #ececec;
}

.orange-label {
    width: 18px;
    height: 18px;
    background: #ee4d2d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    border-radius: 2px;
    position: absolute;
}

.orange-checkbox:checked + .orange-label {
    opacity: 1;
}
