
.product-page-info {
    width: 100%;
    text-align: left;
    padding: 20px;
    padding-top: 10px;
}

.product-page-info h2 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 14px;
}

.product-page-info-evaluation {
    display: flex;
    align-items: center;
}

.product-page-info-evaluation-stars {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.product-page-info-evaluation-stars p {
    color: #ee4d2d;
    border-bottom: 1px solid #ee4d2d;
    margin-right: 5px;
}

.product-page-info-evaluation-quant {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-left: 1px solid rgba(0,0,0,.14);
}

.product-page-info-evaluation-quant p:first-child {
    border-bottom: 1px solid #000;
    margin-right: 5px;
    font-size: 1rem;
}

.product-page-info-evaluation-quant p:last-child {
    color: #767676;
    font-size: .875rem;
}

.product-page-info-evaluation-sold {
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-left: 1px solid rgba(0,0,0,.14);
}

.product-page-info-evaluation-sold p:first-child {
    border-bottom: 1px solid #000;
    margin-right: 5px;
    font-size: 1rem;
}

.product-page-info-evaluation-sold p:last-child {
    color: #767676;
    font-size: .875rem;
}

.product-page-info-price {
    background: #fafafa;
    width: 100%;
    height: 66px;
    margin-top: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.product-page-price-price p, .product-page-price-offer p {
    font-size: 1.875rem;
    font-weight: 500;
    color: #ee4d2d;
}

.product-page-price-offer {
    display: flex;
    align-items: center;
}

.product-page-price-offer p:first-child {
    font-size: 1rem;
    text-decoration: line-through;
    color: #929292;
    margin-right: 10px;
}

.product-page-info-p {
    width: 110px;
    color: #757575;
    font-size: 15px;
}

.product-page-info-coins {
    margin-bottom: 20px;
    display: flex;
}

.product-page-info-coins p:last-child {
    color: #555;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.product-page-info-coins img {
    max-width: 16px;
    margin-right: 5px;
}

.product-page-info-coins span {
    color: #ffae04;
    font-size: 15px;
    margin: 0 3px;
}

.product-page-info-color {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-page-info-color > div {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-page-info-color p:last-child {
    color: #ff424f;
    margin-top: 15px;
    font-size: .875rem;
    display: none;
}

.product-page-info-color-button {
    background: #fff;
    color: rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.09);
    width: 80px;
    height: 34px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
}

.product-page-info-color-button:hover {
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
}

.product-page-info-color-button.active {
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
}

.product-page-info-color-button i {
    background: #ee4d2d;
    color: #fff;
    padding: 2px;
    font-size: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.product-page-info-color-button.active i {
    opacity: 1;
}

.product-page-info-color.error {
    background: #fff5f5;
    padding: 10px;
}

.product-page-info-color.error p:last-child {
    display: block;
}

.product-page-info-quant {
    display: flex;
    align-items: center;
}

.purchase {
    display: flex;
    align-items: center;
    margin-top: 30px;
}