.cart-products-wrap {
    background: #fff;
    width: 100%;
    margin-top: 12px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: .125rem;
    position: relative;
}

.cart-product {
    padding: 15px 20px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(0 0 0 / 8%);
    border-bottom: 1px solid rgb(0 0 0 / 8%);
}

.cart-product-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cart-product img {
    width: 80px;
    height: 80px;
}

.cart-product p {
    color: rgba(0,0,0,.87);
    font-size: .875rem;
    width: 226px;
    padding: 10px 20px;
    align-items: flex-start;
}

.cart-product-item-remove {
    background: none;
    border: none;
    position: absolute;
    right: 50px;
    transition: .3s;
    cursor: pointer;
}

.cart-product-item-remove:hover {
    color: #ee4d2d;
}