
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    box-shadow: 0 1px 1px 0 #0000000d;
}

.home-banner {
    display: flex;
}
