
.free-shipping {
    background: #fffefb;
    height: 42px;
    margin: 0 80px;
    margin-top: 20px;
    border: 1px solid rgba(224,168,0,.4);
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.free-shipping > img {
    height: 14px;
    margin-right: 8px;
}

.free-shipping > p {
    font-size: 14px;
}